{% extends 'layout.html' %}

{% block content %}
    <h1>Game</h1>

    <h2>Player: {{ username }}</h2>
    <form id="attack" method="post" action="#">
{#        <label for="emit_data"></label><input type="text" name="emit_data" id="emit_data" placeholder="Message to emit">#}
        <input type="submit" value="Attack">
    </form>

<!--     <form action="/">
        <input type="submit" value="Back">
    </form> -->

    <form id="leave" action="/game/leave">
        <input type="submit" value="Leave">
    </form>

    <h2>Receive:</h2>
    <div id="log"></div>

    <table id="players" class="table table-striped">
        <thead>
            <tr>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <td>{{ player }}</td>
            {% endfor %}
        </tbody>
    </table>

    <script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}