{% extends 'layout.html' %}

{% block content %}
    <h1>Game</h1>

    <marquee direction="left" id="timeout" direction="right"></marquee>

    <h1 id="time"></h1>

    <h2>Player: {{ username }}</h2>
    <form id="attack" method="post" action="#">
{#        <label for="emit_data"></label><input type="text" name="emit_data" id="emit_data" placeholder="Message to emit">#}
        <input type="submit" value="Attack">
    </form>
    <form id="train" method="post" action="#">
{#        <label for="emit_data"></label><input type="text" name="emit_data" id="emit_data" placeholder="Message to emit">#}
        <input type="submit" value="Train">
    </form>

    <form action="/back">
        <input type="submit" value="Back">
    </form>

    <h2>Attack success chance:</h2>
    <div id="my_success">0.5</div>

    <h2>Enemy attack success chance:</h2>
    <div id="op_success">0.5</div>

    <h2>Attack response:</h2>
    <div id="log_attack">"MY ATTACKS 0 OPPONENT ATTACKS 0</div>

    <table id="players" class="table table-striped">
        <thead>
            <tr>
                <th>Players</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <td>{{ player }}</td>
            {% endfor %}
        </tbody>
    </table>

    <h2>Send:</h2>
    <form id="emit" method="post" action="#">
        <label for="emit_data"></label><input type="text" name="emit_data" id="emit_data" placeholder="Message to emit">
        <input type="submit" value="Echo">
    </form>

    <h2>Echo response:</h2>
    <div id="log_echo"></div>

    <script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}