{% extends 'layout.html' %}

{% block content %}
    <h1>Title</h1>
    {% if username is defined %}
        <h3>Hello {{ username }}</h3>
        <form action="/game" method="post" id="join_game">
            <input type="submit" value="Start game!">
        </form>
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <h3>Log in and play</h3><!-- 
        <form action="/game" method="post" id="join_game">
            <label for="username"></label><input type="text" name="username" id="username" placeholder="Username" value="{{ request.form['username'] }}">
            <input type="submit" value="Start game!">
        </form> -->
        <form action="/login" method="post">
            <input type="submit" value="Login">
        </form>
    <p>New User?<br> 
        <form action="/register" method="post">
            <input type="submit" value="Register">
        </form>
    </p>
    {% endif %}
{% endblock %}