{% extends 'layout.html' %}

{% block content %}
    <h1>Click rush</h1>
    {% if username is defined %}
        <h3>Hello {{ username }}</h3>
        <form action="/game" method="post" id="join_game">
            <input type="submit" value="Start game!" class="btn btn-default rounded border">
        </form>
        <form action="/logout" method="post">
            <input type="submit" value="Logout" class="btn btn-default rounded border">
        </form>
    {% else %}
        <h3>Log in and play</h3>
        <form action="/login" method="post">
            <input type="submit" value="Login"  class="btn btn-default rounded border">
        </form>
    <p>New User?<br> 
        <form action="/register" method="post">
            <input type="submit" value="Register" class="btn btn-default rounded border">
        </form>
    </p>
    {% endif %}

    <form action="/ranking" method="post">
        <input type="submit" value="Ranking" >
    </form>
{% endblock %}