{% extends 'layout.html' %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post" novalidate class="btn btn-default rounded border">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <p>New User?<br> 
        <form action="/register" method="post">
            <input type="submit" value="Register" class="btn btn-default rounded border">
        </form>
    </p>
    <a href="/" class="btn btn-default rounded border">Back</a>
{% endblock %}