{% extends 'layout.html' %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" novalidate class="btn btn-default rounded border">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.repeat_password.label }}<br>
            {{ form.repeat_password(size=32) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    <a href="/" class="btn btn-default rounded border">Back</a>
{% endblock %}